<!DOCTYPE html>
<html>
<body>


<center>
<h2>ADD VOLCANO</h2>
<form action="/api/volcano/" method="post">
  <label for="id">id of volcano:</label><br>
  <input type="text" id="id" name="id" placeholder="Unique ID of volcano"><br><br>
  <label for="name">Name of volcano:</label><br>
  <input type="text" id="name" name="name" placeholder="volcano name"><br>
  <label for="location">Location of volcano:</label><br>
  <input type="text" id="location" name="location" placeholder="location of volcano"><br><br>
  <label for="history">History of volcano:</label><br>
  <input type="text" id="history" name="history" placeholder="history of volcano"><br><br>
  <label for="active">Active or not:</label><br>
  <input type="text" id="active" name="active" placeholder="active"><br><br>
  <input type="submit" value="update volcano">
</form> 
</center>
</body>
</html>