<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>Page Title</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="">
<body>
   <h1>Volcanos Home Page</h1>
   <div class="w3-left w3-hide-small">
      <a href="http://localhost:8000/Volcanos">GET LIST OF VOLCANOS</a>
   </div>
 <p> A volcano is a rupture in the crust of a planetary-mass object, such as Earth, that allows hot lava, volcanic ash, and gases to escape from a magma chamber below the surface.
    On Earth, volcanoes are most often found where tectonic plates are diverging or converging, and most are found underwater. For example, a mid-ocean ridge, such as the Mid-Atlantic Ridge, has volcanoes caused by divergent tectonic plates whereas the Pacific Ring of Fire has volcanoes caused by convergent tectonic plates. Volcanoes can also form where there is stretching and thinning of the crust's plates, such as in the East African Rift and the Wells Gray-Clearwater volcanic field and Rio Grande Rift in North America. Volcanism away from plate boundaries has been postulated to arise from upwelling diapirs from the core–mantle boundary, 3,000 kilometers (1,900 mi) deep in the Earth. This results in hotspot volcanism, of which the Hawaiian hotspot is an example. Volcanoes are usually not created where two tectonic plates slide past one another.
    Sabancaya volcano erupting, Peru in 2017.Cordillera de Apaneca volcanic range in El Salvador. The country is home to 170 volcanoes, 23 which are active, including two calderas, one being a supervolcano. El Salvador has earned the epithets endearment La Tierra de Soberbios Volcanes, (The Land of Magnificent Volcanoes).
    Cleveland Volcano in the Aleutian Islands of Alaska photographed from the International Space Station, May 2006
    Large eruptions can affect atmospheric temperature as ash and droplets of sulfuric acid obscure the Sun and cool the Earth's troposphere. Historically, large volcanic eruptions have been followed by volcanic winters which have caused catastrophic famines.</p>
 <p></p>
</body>
</html>