<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>Page Title</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="">
<style>
</style>
<body>
    <section class="home">
    <center>
    <h1>Volcanos list</h1>
    <table>
        <th>Name of the volcano</th>
        <th>Active or not</th>
        <th> Delete volcano</th>
        <% for(var i=0; i<data.length; i++) {%>
            <tr>
                <td> <a href="http://localhost:8000/singlevolcanodetails/<%= data[i].id %>"><%= data[i].name %></a></td>
                <br/>
                <td><%= data[i].active %></td>
                <br/>
                <td><a href="http://localhost:8000/deletevolcanodetails/<%= data[i].id %>">delete</a></td>
            </tr>
        <% } %>
    </table>
    </center>
    </section>
    <center>
        <div>
            <a href="http://localhost:8000/createVolcano">Add New Volcano</a>
        </div>
    </center>
    
    
</body>
</html>